<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<!-- Importando os fragments -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>

<!-- Conteúdo da Página -->
<main class="aluno-salvo-container">
    <h2 class="titulo-aluno-salvo">Aluno Registrado</h2>

    <div class="mensagem-sucesso" th:if="${nomeAluno}">
        <p>O aluno <strong th:text="${nomeAluno}"></strong> foi salvo com sucesso!</p>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>